html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(49,51,53);
}

body {
  margin:100px auto 0 auto;
  width: 80%;
  text-align: center;
}
canvas {
  	position: absolute;
    border: 5px solid black;
  	margin-left: -250px; /* This is half the width */
    margin-top: -50px;
}
